:root {
  --font: 'Inter UI var alt', sans-serif;
  --light: #f4f4f4;
  --grey: #bebebe;
  --faded-text: #666;
  --dark: #222;
  --purple-main: #aa43b9;
  --purple-dark: #441e98;
  --purple-pastel: #8166cd;
  --pink-baby: #eda4c1;
  --pink-bright: #fc4f83;
  --pink-dark: #d31d53;
  --pink-light: #ff75e3;
  --salmon: #ff858a;
  --red-pastel: #ff6961;
  --orange: #db8b1b;
  --green-light: #6bc8b0;
  --green-bright: #1db491;
  --green-grass: #01684f;
  --yellow: #ffc84c;
  --blue: #3f46ad;
  --blue-light: #6a70bb;
  --blue-dark: #252a7a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

html {
  font-family: var(--font);
  line-height: 1.5;
  color: var(--dark); 
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter UI var alt', sans-serif;
  }
}

#page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  flex: 1;
}

.w {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

.content {
  margin-bottom: 4em;
}

.content p {
  margin: 1em 0;
}

.content h2 {
  margin: 1em 0;
}

.content ul {
  margin-bottom: 1em;
}

.content li {
  margin-left: 1.5em;
  margin-top: 1em;
}

h1#title {
  margin: 1em 0;
}

@media screen and (max-width: 1000px) {
  h1#title { 
    font-size: 1.5em;
    margin-bottom: 2rem;
   }
}

input, textarea, button {
  -webkit-appearance: none;
}

label, input {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 0.5em 0.75em;
  background: white;
  border: 2px solid var(--grey);
  margin-top: 1em;
}

input[type='submit'] {
  background: var(--pink-dark);
  color: white;
  border-color: transparent;
}

input:focus {
  border-color: var(--pink-dark);
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid var(--dark);
  text-align: left;
}

th, td {
  padding: 0.5em;
}